@keyframes bouncing {
    0% {
      width: 2.5rem;
      height: 2.5rem;
    }
    100% {
      width: 3rem;
      height: 3rem;
    }
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .page-overlay-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1009;
    background: rgba(41, 44, 41, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
  }
  .bee-spinner {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      z-index: 100;
      background: #fff;
      animation: bouncing .3s 0s infinite alternate both;
  }
  .bee-spinner:nth-of-type(2){
    animation-delay: .15s;
  }
  .bee-spinner:nth-of-type(3){
    animation-delay: .3s;
  }